<form action="/login" method="post">
  <div>
    <label>Email:</label>
      <input type="text" name="email" value="user@example.com" /><br/>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" value="user" />
    </div>
    <div>
      <input type="submit" value="Submit" />
    </div>
</form>
<pre>user@example.com:user</pre>
<pre>admin@example.com:admin</pre>
