<form action="/signup" method="post">
  <div>
    <label>Email:</label>
      <input type="text" name="email" />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <label>Name:</label>
    <input type="text" name="name" />
  </div>
  <div>
    <label>Role:</label>
    <select name="role">
      <option value="user">user</option>
      <option value="accountant">accountant</option>
      <option value="manager">manager</option>
      <option value="admin">admin</option>
    </select>
  </div>
  <div>
    <input type="submit" value="Submit" />
  </div>
</form>
